:root { 
    /*Fonts*/
    --primary-font:  'Roboto', sans-serif;
    /*Other*/
    --accent-color: #E7E9FC;
    
}

body {
font-family: 'Roboto', sans-serif;
font-size: 16px;
line-height: 1.5;
background-color: #ffffff;
color: #434455;
}


/* Reset */

a {
    color: currentColor;
    text-decoration: none ;
    font-style: normal;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    }

 .text {
    letter-spacing: 0.02em;
      }


.list {
    list-style: none;
}

.button {
    font-family: inherit;
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: #2e2f42;
    cursor: pointer;
    }
    
 .link:hover,:focus {
    color: #404bbf;
 }   

 .address {
    color: #2E2F42;
    font-weight: 500;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.header-logo-studio {
    color: #2E2F42;
}

.hero {
    background-color: #2E2F42;
}

.hero-title {font-size: 56px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
line-height: 1.07;
}


.hero-btn{
    background-color: #4D5AE5;
color: #ffffff;
font-weight: 500;
letter-spacing: 0.04em;
line-height: 1.5;
}

 .hero-btn:hover,:focus {
    background-color: #404BBF;
    color: #ffffff;
 }


 /* FEATURES SECTION */

 .feature-title {
    font-size: 20px;
    font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}


  /* OUR WORK */
   .our-work.title{
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
   }

   /* OUR TEAM*/
.our_team {
    background-color: #F4F4FD;
}

.team-list {
    background-color: #FFFFFF;
}
   .title-name {
    font-size: 20px;
    font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
   }


   /*FOOTER*/
   .footer {
    background: #2E2F42;
   }
   .footer-logo-studio {
    color: #F4F4FD;
   }
   .footer-text {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
   }


   /*PORTFOLIO*/
 

.portfolio-btn {
font-weight: 500;
background-color:#F4F4FD;
text-align: center;
letter-spacing: 0.04em;
color: #4D5AE5
}

.portfolio-btn:hover,:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}


.photo-title {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
    color: #2E2F42; 
}
