:root { 
    /*Fonts*/
    --primary-font:  'Roboto', sans-serif;
    /*Other*/
    --accent-color: #E7E9FC;
    
}

.body {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.4;
background-color: #ffffff;
color: #434455;
}


/* Reset */

a {
    color: currentColor;
    text-decoration: none ;
    font-style: normal;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    }

 .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42 ;
      }


.list {
    list-style: none;
}

.button {
    font-family: inherit;
    cursor: pointer;
}
.header {
    color: #2e2f42;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}


.address_header_list {
    font-style: normal;
}
.link {
    color: #434455;
    text-decoration: none;
    }
    
   .link:hover {
        color: #404BBF;
    }

    .link:focus {
        color: #404bbf;
    }
.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    }

    


.header-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.header-logo-studio {
    color: #2E2F42;
}

.header-list {
    color: #2e2f42
}
 
.header-list:hover {
    color: #404bbf;
}

.header-list:focus {
    color: #404bbf;
}
.hero {
    background-color: #2E2F42;
}

.hero-title {font-size: 56px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
line-height: 1.07;
}


.hero-btn{
    background-color: #4D5AE5;
color: #ffffff;
font-weight: 500;
font-size: 16px;
letter-spacing: 0.04em;
line-height: 1.5;
cursor: pointer;
}

 .hero-btn:hover {
    background-color: #404BBF;
    color: #ffffff;
 }

 .hero-btn:focus {
    background-color: #404BBF;
    color: #ffffff;
 }

 /* FEATURES SECTION */

 .feature-title {
    font-size: 20px;
    font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}


  /* OUR WORK */
   .our-work.title{
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
   }

   /* OUR TEAM*/
.our_team {
    background-color: #F4F4FD;
}

.team-list {
    background-color: #FFFFFF;
}
   .title-name {
    font-size: 20px;
    font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
   }


   /*FOOTER*/
   .footer {
    background: #2E2F42;
   }
   .footer-logo-studio {
    color: #F4F4FD;
   }
   .footer-text {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
   }


   /*PORTFOLIO*/

.portfolio-header {
    color: #2e2f42;
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
background-color: #ffffff;
color:  #434455;

}  

.portfolip-header:hover {
    color: #404bbf;
}
.portfolip-header:focus {
    color: #404bbf;
}

.portfolio-header-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-weight: 500;
}

.portfolio-page {
    color: #404bbf;
}



.portfolio-filter-btn {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
background-color:#F4F4FD;
line-height: 1.5;
text-align: center;
letter-spacing: 0.04em;
color: #4d5ae5;
cursor: pointer;
}

.portfolio-filter-btn:hover {
    background-color: #404BBF;
    color:#ffffff;
    cursor: pointer;
    
}

.filter-btn:focus {
    background-color: #404BBF;
    color:#ffffff;
    cursor: pointer; 
}
 .portfolio-page {
    list-style: none
 }

.photo-title {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
    color: #2E2F42; 
}

.descript {
    color: #434455;
}