:root {

}

.body {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.4;
background-color: #ffffff;
color: #434455;
}


/* Reset */

a {
    color: currentColor;
    text-decoration: none ;
    font-style: normal;
}

.title {
    color: #2E2F42;
    font-weight: 500;
    }

 .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: inherit;
      }


.list {
    list-style: none;
}

.button {
    font-family: inherit;
    cursor: pointer;
}
.header {
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.address {
    font-style: normal;
}
.link {
    color: #434455;
    }
    
   .link:hover {
        color: #404BBF;
    }

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    }

    


.header-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.header-logo-studio {
    color: #2E2F42;
}

.hero {
    background-color: #2E2F42;
}

.hero-title {font-size: 56px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
line-height: 1.07;
}


.hero-btn{
    background-color: #4D5AE5;
color: #ffffff;
letter-spacing: 0.04em;
line-height: 1.5;
}

 .hero-btn:hover:focus {
    background-color: #404BBF;
    color: #ffffff;
 }

 /* FEATURES SECTION */

 .feature-title {
    font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}


  /* OUR WORK */
   .our-work.title{
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
   }

   /* OUR TEAM*/
   .our-team.title {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;

color: #2E2F42;
   }
   .team-list {}

   /*FOOTER*/
   .footer {
    background: #2E2F42;
   }
   .footer-logo-studio {
    color: #F4F4FD;
   }
   .footer-text {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
   }


   /*PORTFOLIO*/

.filter-btn {
    background-color: #E7E9FC;
line-height: 24px;
text-align: center;
letter-spacing: 0.04em;
color:#4D5AE5;
cursor: pointer;
}

.filter-btn:hover {
    background-color: #404BBF;
    color:#ffffff;
    cursor: pointer;
    
}
 .portfolio-page {
    list-style: none
 }

.photo-title {
    font-weight: 400;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
    color: #2E2F42; 
}